body {
  margin: 0;
  overflow: hidden;
  background: rgb(53, 129, 53);
  color: white;
}

* {
  font-family: "Silkscreen", sans-serif;
}

.logo {
  scale: 3;
  image-rendering: pixelated;
}

.hide {
  display: none;
}

.loginElement {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.login input[type="submit"] {
  width: 100%;
}

.formGroup {
  width: 100%;
}

.formGroup input {
  outline: none;
}

.adminDashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar {
  height: 100%;
  width: 500px;
  background: rgb(36, 70, 36);
  border-right: 5px solid white;
  box-shadow: 2px 0 5px rgba(255, 255, 255, 0.342);
  margin-left: 0;
  margin-right: auto;
}

.logout {
  position: fixed;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  font-size: 14pt;
  border: 2px solid white;
}

.head {
  background-image: url(../logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin-bottom: 60px;
  image-rendering: pixelated;
}

li {
  list-style: none;
}

.option li {
  margin-bottom: 20px;
}

.dashboardSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serverStatus {
  margin-left: 5%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.dashboard,
.users,
.sales {
  height: 400px;
  width: 90%;
  padding: 10px;
  color: white;
}

.dashboard h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.349);
  background: rgba(255, 255, 255, 0.342);
}

.listTable,
.salesTable {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 4px solid white;
  text-align: center;
  padding: 10px;
}

.equip {
  border: none;
  background: rgb(53, 129, 53);
}

li {
  cursor: pointer;
}